@-webkit-keyframes "sk-stretchdelay" {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes "sk-stretchdelay" {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

p {
  color: #7C7B7B;
}

.section-header h2 {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #ffffff;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #ffffff;
}

.back-to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: #ffffff;
  width: 44px;
  height: 44px;
  font-size: 16px;
  background-color: #c19b76;
  z-index: 1000;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.back-to-top i {
  color: #ffffff;
}

#header {
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  padding: 10px 0;
  z-index: 100;
  background-color: transparent;
  -webkit-transition: background-color 0.25s ease, box-shadow 0.25s ease;
  -webkit-transition: background-color 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: background-color 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;
  transition: background-color 0.25s ease, box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
  -webkit-box-shadow: 0 0 20px 0 transparent;
  box-shadow: 0 0 20px 0 transparent;
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header.header-scrolled {
  position: fixed;
  top: 0;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

#header.header-scrolled .container #logo {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

#logo {
  position: relative;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

#intro {
  display: table;
  width: 100%;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #ffffff;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active.carousel-item-left {
  opacity: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-fade .carousel-inner .active {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-fade .carousel-inner .carousel-item-prev {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev {
  width: 10%;
}

#intro .carousel-control-next {
  width: 10%;
}

#intro .carousel-control-next-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  padding: 10px 30px;
  border: 0;
  color: #fff;
  cursor: pointer;
  background-color: #2690B7;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

#intro .btn-get-started:hover {
  background-color: #E7C62B;
}

#nav-menu-container {
  margin-left: auto;
}

#nav-menu-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav-menu-container ul li {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#nav-menu-container ul li a {
  display: inline-block;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.25s ease, color 0.25s ease;
  transition: border-color 0.25s ease, color 0.25s ease;
}

#nav-menu-container ul li:hover a {
  border-bottom-color: #ffffff;
}

#nav-menu-container ul li:first-child {
  margin-left: 0;
}

#nav-menu-container ul li:last-child {
  background-color: #c19b76;
}

#nav-menu-container ul li:last-child:hover {
  background-color: #ffffff;
}

#nav-menu-container ul li:last-child:hover a {
  color: #c19b76;
  border-bottom-color: transparent;
}

#mobile-nav-toggle {
  position: absolute;
  right: 20px;
  top: 62px;
  z-index: 999;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #ffffff;
}

#mobile-nav-toggle.nav-scrolled {
  position: fixed;
  top: 16px;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #ffffff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #ffffff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #18d26e;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #18d26e;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

section {
  padding: 60px 0;
}

section#intro {
  padding: 0;
}

section.section-bg {
  background-color: #f1f1f1;
}

#promociones .promocion {
  position: relative;
  height: 100%;
  background-color: #f8f8f8;
}

#promociones .promocion figure {
  overflow: hidden;
  margin: 0;
}

#promociones .promocion figure img {
  display: block;
  width: 100%;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

#promociones .promocion .promocion__content {
  padding: 10px;
  background-color: #f8f8f8;
}

#promociones .promocion .promocion__content h2 {
  color: #1c1c1c;
}

#promociones .promocion .promocion__content p {
  font-size: 13px;
  color: #858585;
}

#promociones .promocion .promocion__content a {
  font-size: 12px;
  font-weight: 700;
  color: #c19b76;
  text-transform: uppercase;
}

#promociones .promocion:hover figure img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#informacion {
  padding: 10px;
  background-image: url(../img/caracol.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#informacion .container {
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#informacion header h2 {
  color: #ffffff;
}

#informacion p {
  color: #ffffff;
}

#apartamentos .nav-tabs {
  border-bottom: 1px solid #c19b76;
}

#apartamentos .nav-tabs .nav-link {
  width: 33.33333%;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  text-align: center;
  color: #1c1c1c;
}

#apartamentos .nav-tabs .nav-link:focus {
  border-color: #c19b76;
}

#apartamentos .nav-tabs .nav-link:hover {
  border-color: #c19b76;
}

#apartamentos .nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
  border-color: #c19b76;
  background-color: #c19b76;
}

#apartamentos .nav-tabs .nav-link.active {
  color: #ffffff;
  border-color: #c19b76;
  background-color: #c19b76;
}

#apartamentos .nav-pills .nav-link {
  border-radius: 0;
}

#apartamentos .nav-pills .nav-link.active {
  color: #ffffff;
  background-color: #c19b76;
}

#apartamentos .nav-pills .show > .nav-link {
  background-color: #c19b76;
}

.ficha-layout h4 {
  margin: 50px 0px 20px 0px;
}

.ficha-layout .owl-carousel {
  overflow: hidden;
}

.ficha-layout .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 0;
  border: 0;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  left: 0;
}

.ficha-layout .owl-carousel .owl-nav .owl-prev i {
  font-size: 40px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.ficha-layout .owl-carousel .owl-nav .owl-prev:hover i {
  color: #fff;
}

.ficha-layout .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 0;
  border: 0;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  right: 0;
}

.ficha-layout .owl-carousel .owl-nav .owl-next i {
  font-size: 40px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.ficha-layout .owl-carousel .owl-nav .owl-next:hover i {
  color: #fff;
}

.ficha-layout h3 {
  margin-top: 20px;
}

.ficha-layout p {
  margin-top: 10px;
}

.ficha-layout .main-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-column-count: 1;
          column-count: 1;
}

.ficha-layout .main-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 0 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.ficha-layout .main-list li i {
  margin-right: 5px;
  color: #c19b76;
}

.ficha-layout .ficha-destacado {
  margin: 20px 0;
}

.ficha-layout .ficha-destacado ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  -webkit-column-count: 1;
          column-count: 1;
  background-color: #f1f1f1;
}

.ficha-layout .ficha-destacado ul li {
  color: #111;
  font-size: 14px;
}

.ficha-layout .ficha-destacado ul li i {
  margin-right: 5px;
  color: #c19b76;
}

.ficha-layout .ficha-destacado ul.lista-destacada {
  background-color: #111;
}

.ficha-layout .ficha-destacado ul.lista-destacada li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#servicios ul {
  margin: 0;
  padding: 0;
  -webkit-column-count: 1;
          column-count: 1;
  list-style-type: none;
}

#servicios ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
  font-size: 18px;
}

#servicios ul li i {
  margin-right: 10px;
  font-size: 20px;
  color: #c19b76;
}

#galeria {
  padding-bottom: 20px;
}

#galeria .my-gallery figure a {
  display: block;
  border: 4px solid #c19b76;
  -webkit-transition: border-color 0.25s ease-in;
  transition: border-color 0.25s ease-in;
}

#galeria .my-gallery figure a:hover {
  border-color: #E7C62B;
}

#galeria .my-gallery figure img {
  display: block;
  width: 100%;
}

#galeria .my-gallery .mobile-label {
  display: none;
}

#ubicacion {
  padding: 20px 0 0 0;
}

#ubicacion #map-container {
  height: 300px;
}

#contacto .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contacto .contact-info i {
  margin-bottom: 20px;
  font-size: 40px;
  color: #ffffff;
}

#contacto .contact-info address {
  margin-bottom: 0;
  color: #ffffff;
}

#contacto .contact-info p {
  margin-bottom: 0;
  color: #ffffff;
}

#contacto .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contacto .contact-info a {
  color: #ffffff;
}

#contacto .contact-info a:hover {
  color: #2690B7;
}

#contacto .contact-address {
  margin-bottom: 20px;
}

#contacto .contact-phone {
  margin-bottom: 20px;
}

#contacto .contact-email {
  margin-bottom: 20px;
}

#contacto .form #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contacto .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contacto .form #sendmessage.show {
  display: block;
}

#contacto .form #errormessage.show {
  display: block;
}

#contacto .form .show {
  display: block;
}

#contacto .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contacto .form input {
  padding: 10px 14px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
}

#contacto .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
}

#contacto .form button[type="submit"] {
  padding: 10px 30px;
  border: 0;
  color: #fff;
  cursor: pointer;
  background-color: #c19b76;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

#contacto .form button[type="submit"]:hover {
  background-color: #1c1c1c;
}

footer {
  padding: 40px 0;
  text-align: center;
  background-color: #1c1c1c;
}

footer .logo-footer {
  display: block;
  margin: 10px auto;
}

footer h3 {
  font-size: 24px;
  color: #ffffff;
}

footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #858585;
}

footer p span {
  color: #ffffff;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  margin-bottom: 10px;
}

footer a {
  font-size: 14px;
  color: #c19b76;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom-color 0.25s ease;
  transition: border-bottom-color 0.25s ease;
}

footer a:hover {
  color: #c19b76;
  border-bottom-color: #c19b76;
}

.tab-content > .tab-pane {
  overflow: hidden;
  display: block;
  height: 0;
}

.tab-content > .active {
  height: auto;
}

.spinner {
  position: absolute;
  display: inline-block;
  position: relative;
  visibility: hidden;
  opacity: 0;
  margin: 0 0 0 -172px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  -webkit-transition: visibility 200ms ease, opacity 200ms ease;
  transition: visibility 200ms ease, opacity 200ms ease;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-out;
  animation: sk-stretchdelay 1.2s infinite ease-out;
  position: relative;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner.on {
  visibility: visible;
  opacity: 1;
}

.send.off {
  visibility: hidden;
  opacity: 0;
}

.error {
  border: 2px solid #ff3300 !important;
}

@media (min-width: 768px) {
  #informacion {
    padding: 40px 0;
  }
  #informacion .container {
    padding: 50px 100px;
  }
  #apartamentos .item h3 {
    margin-top: 0;
  }
  #apartamentos .item ul {
    -webkit-column-count: 2;
            column-count: 2;
  }
  #apartamentos .nav-tabs .nav-link {
    width: auto;
    padding: .5rem 1rem;
    font-size: 16px;
  }
  .ficha-layout .ficha-destacado {
    margin-bottom: 0;
  }
  .ficha-layout .ficha-destacado ul {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .ficha-layout .main-list {
    -webkit-column-count: 2;
            column-count: 2;
  }
  #servicios ul {
    -webkit-column-count: 3;
            column-count: 3;
  }
  #contacto .contact-address {
    border-right: 1px solid #7C7B7B;
    padding: 20px 0;
  }
  #contacto .contact-phone {
    border-right: 1px solid #7C7B7B;
    padding: 20px 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  #contacto .contact-email {
    padding: 20px 0;
  }
  footer {
    text-align: left;
  }
}

@media (max-width: 767px) {
  #galeria .my-gallery {
    overflow-x: hidden;
  }
  #galeria .my-gallery figure {
    display: none;
    padding: 0;
  }
  #galeria .my-gallery figure a {
    border: 0;
  }
  #galeria .my-gallery figure.mobile-thumb {
    display: block;
    width: 100%;
  }
  #galeria .my-gallery figure.mobile-thumb .mobile-label {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -20px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #2690B7;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #galeria .my-gallery figure.mobile-thumb .mobile-label:hover {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
  #intro h2 {
    font-size: 28px;
  }
  #nav-menu-container {
    display: none;
  }
  #mobile-nav-toggle {
    display: inline;
  }
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
  #intro .carousel-control-prev {
    width: 5%;
  }
  #intro .carousel-control-next {
    width: 5%;
  }
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */