			<section id="promociones">
                <div class="container">					
					<div class="row">
						{% for promocion in promociones %}
                        <div class="col-md-4 wow fadeInUp">
                            <div class="promocion">
                                <figure>
                                    <img src="{{ asset('/uploads/promociones/' ~ promocion.imagen) }}" alt="">
                                </figure>
                                <div class="promocion__content">
                                    <h2 class="title">{{ promocion.nombre }}</h2>
                                    <p>{{ promocion.descripcion|nl2br }}</p>
                                    {# <a href="">Más información</a> #}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
				</div>
			</section>                   

